/* styles.css */

:root {
    --padding-x-small: 16px;
    --padding-x-large: 26px;
    --padding-y-small: 20px;
    --padding-y-large: 26px;
  }

  :root {
    /* 🎨 Colores personalizados */
    --color-primary: #050816;
    --color-secondary: #aaa6c3;
    --color-tertiary: #151030;
    --color-black-100: #100d25;
    --color-black-200: #090325;
    --color-white-100: #f3f3f3;
  
    /* 🔥 Sombras personalizadas */
    --shadow-card: 0px 34px 120px -15px #211e35;
  
    /* 📏 Breakpoints */
    --screen-xs: 450px;
  }
  
  
  /* Clases reutilizables para padding */
  .padding-x {
    padding-left: var(--padding-x-small);
    padding-right: var(--padding-x-small);
  }
  
  @media (min-width: 640px) { /* sm: */
    .padding-x {
      padding-left: var(--padding-x-large);
      padding-right: var(--padding-x-large);
    }
  }
  
  .padding-y {
    padding-top: var(--padding-y-small);
    padding-bottom: var(--padding-y-small);
  }
  
  @media (min-width: 640px) { /* sm: */
    .padding-y {
      padding-top: var(--padding-y-large);
      padding-bottom: var(--padding-y-large);
    }
  }
  
  .padding {
    padding-left: var(--padding-x-small);
    padding-right: var(--padding-x-small);
    padding-top: var(--padding-y-small);
    padding-bottom: var(--padding-y-small);
  }
  
  @media (min-width: 640px) { /* sm: */
    .padding {
      padding-left: var(--padding-x-large);
      padding-right: var(--padding-x-large);
      padding-top: var(--padding-y-large);
      padding-bottom: var(--padding-y-large);
    }
  }

  .hero-pattern {
    background-image: url("/src/assets/herobg.png");
  }

  /* Hero Text */
.hero-head {
  font-weight: 800;
  color: white;
  font-size: 35px;
  line-height: normal;
  
}

@media (min-width: 480px) {
  .hero-head {
    font-size: 30px;
  }
}

@media (min-width: 640px) {
  .hero-head {
    font-size: 40px;
  }
}

@media (min-width: 1024px) {
  .hero-head {
    font-size: 60px;
    line-height: 98px;
  }
}

/* Hero Sub Text */
.hero-sub {
  color: #dfd9ff;
  font-weight: 500;
  font-size: 18px;
  line-height: normal;
}

@media (min-width: 480px) {
  .hero-sub {
    font-size: 20px;
  }
}

@media (min-width: 640px) {
  .hero-sub {
    font-size: 26px;
  }
}

@media (min-width: 1024px) {
  .hero-sub {
    font-size: 40px;
    line-height: 40px;
  }
}

/* Section Text */
.section-head {
  color: white;
  font-weight: 900;
  font-size: 30px;
}

@media (min-width: 480px) {
  .section-head {
    font-size: 40px;
  }
}

@media (min-width: 640px) {
  .section-head {
    font-size: 50px;
  }
}

@media (min-width: 768px) {
  .section-head {
    font-size: 40px;
  }
}

.section-sub {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 14px;
  color: var(--color-secondary, #aaa6c3);
}

@media (min-width: 640px) {
  .section-sub {
    font-size: 20px;
  }
}

